.info__list{
  flex: 1 1 100%;
  background: #87CEEB;
  border-radius: 5px;
  padding: 10px;
}
.info__header{
  margin-bottom: 40px;
  text-align: center;
}
.info__label{
  margin-bottom: 15px;
  font-size: 2rem;
  
}
.info__url{
  color: blue;
  font-size: 1.2rem;
}
.info__block{
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.info__block span{
  font-weight: 700;
}
.info__comments{
  font-size: 1.2rem;
}