.item{
  background: #87CEEB;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.item__header{
  display: flex;
  justify-content: space-between;
}
.item__label{
  color: black;
  display: inline-block;
  margin-bottom: 10px;
  text-align: start;
}
.item__info{
  display: flex;
}
.author,.date{
  margin-left: 10px;
}
.item__comments-count{
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
  margin-top: 5px;
  flex: 0 0 55px;
}
.item__comments-count::after{
  width: 16px;
  height: 16px;
  position: relative;
  content: '';
  display: inline-block;
  margin-left: 2px;
  background: url(./icons/comment.svg);
}


@media (max-width:1140px){
  .item__label{
    font-size: 1.3rem;;
  }
}
@media (max-width:740px){
  .item__label{
    font-size: 1.1rem;;
  }
}
@media (max-width:560px){
  .item__label{
    font-size: 1rem;
    margin-bottom: 6px;
  }
  .item__info{
    font-size: 0.7rem;
  }
  .item__comments-count{
    font-size: 1rem;
    flex: 0 0 auto;
  }
  .item__comments-count::after{
    display: none;
  }
  .author,.date{
    margin-left: 6px;
  }
}