.header{
  text-align: center;
  padding: 20px 10px 5px 10px;
}
.header__label{
  display: inline-block;
}
.btns{
  display: inline-flex;
  flex-direction: column;
  position: fixed;
  margin-left: -60px;
}
.btns__btn{
  display: inline-block;
}
.btns__btn img{
  width: 40px;
  height: 40px;
}